<!-- header -->
<%- include('header') %>

    <h2>Admin:</h2>
    <div>
        <ul>
            <li><a href="/admin/categorias" class="general-links">Gerenciar categorias</a></li>
            <li><a href="/admin/vagas" class="general-links">Gerenciar vagas</a></li>
        </ul>
    </div>

<!-- footer -->
<%- include('footer') %>