<!-- header -->
<%- include('header') %>

<h2>Open roles:</h2>
<% categories.forEach(category => { %>
<div>
    <h3><%- category.category %></h3>
    <ul>
        <li><a href="vaga">Fullstack Developer (Remote)</a></li>
    </ul>
</div>
<% }) %>

<!-- footer -->
<%- include('footer') %>